{% for item in include.arguments %}
    {% include arguments-detail.html argument=item %}
{% endfor %}
{% for item in include.argumentnames %}
    {% assign found = false %}
    {% for arguments in site.data.arguments %}
        {% for argument in arguments.arguments %}
            {% if argument.name == item %}
                {% include arguments-detail.html argument=argument %}
                {% assign found = true %}
                {% break %}
            {% endif %}
        {% endfor %}
        {% if found %}
            {% break %}
        {% endif %}
    {% endfor %}        
{% endfor %}