{% assign indent = include.level | plus: 1 %}
{% assign plugins = site.data.plugins | where: "type", include.type | sort_natural: "name" %}
{% for plugin in plugins %}
    {% assign meta = site.data.meta | where: "id", plugin.id | first %}
    {% if meta.page %}
        {% assign slug = meta.page %}
    {% else %}
        {% assign slug = plugin.trigger %}  
    {% endif %}
    {% assign section = plugin.type | replace: ".", "/" %}
    {% assign linkbase = '/reference/plugins/' | append: section %}
    {% assign link = linkbase | append: '/' | append: slug %}
    {% assign pluginactive = false %}
    {% assign url = link | append: '.html' %}
    {% assign url2 = link | append: '/' %}
    {% if page.url==link or page.url==url or page.url==url2 %}
        {% assign pluginactive = true %}
    {% endif %}
    {% if page.url contains linkbase %}
        <li class="nav-item ms-{{ indent }}">
            <a class="nav-link small {% if pluginactive %}active{% endif %}" href="{{ link }}">{{ plugin.name }}</a>
        </li>
    {% endif %}
{% endfor %}