{% if include.subtype %}
    {% assign plugins = site.data.plugins[include.type][include.subtype] %}
{% else %}
    {% assign plugins = site.data.plugins[include.type] %}
{% endif %}
{% assign plugins = plugins | sort_natural: "title" %}

<div class="table-responsive my-4 me-5 pe-5">
    <table class="table table-striped">
        <tbody>
{% for plugin in plugins %}
    {% if plugin.page %}
        {% assign page = plugin.page %}
    {% else %}
        {% assign page = plugin.trigger %}  
    {% endif %}
    {% if include.subtype %}
        {% assign link = '/reference/plugins/' | append: include.type | append: '/' | append: include.subtype | append: '/' | append: page %}
    {% else %}
        {% assign link = '/reference/plugins/' | append: include.type | append: '/' | append: page %}
    {% endif %}
            <tr>
                <td><a href="{{ link }}">{{ plugin.title }}</a></td>
                <td>{{ plugin.subtitle }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>