<div class="table-responsive my-4 me-5 pe-5">
    <table class="table table-striped">
{% assign plugins = site.data.plugins | where: "type", include.type | sort_natural: "name" %}
{% for plugin in plugins %}
    {% unless plugin.external %}
        {% continue %}
    {% endunless %}
    {% assign file = plugin.download | default: plugin.trigger %}
    {% assign name = "plugin." |
        append: include.type |
        append: "." |
        append: file |
        append: ".v" |
        append: site.data.build.releasebuild |
        append: ".zip"
    %}
    {% assign download = site.data.build.downloads | where: "name", name | first %}
    {% unless download == nil %}
<tr>
    <td class="col-md-2"><a href="https://github.com/simple-acme/simple-acme/releases/download/{{ site.data.build.releasetag }}/{{name}}">{{plugin.name}}</a></td>
    <td class="col-md-2">{{plugin.provider}}</td>
    <td class="col-md-2">{{download.size}}</td>
    <td class="col-md-2">{% include plugin-link.html plugin=plugin title='documentation' %}</td>
</tr>
<tr>
    <td colspan="4" style="font-size: 0.7rem">SHA256: {{download.sha256 | downcase }}</td>
</tr>
{% endunless %}
{% endfor %}
</table>
</div>