<div class="table-responsive my-4 me-5 pe-5">
    <table class="table table-striped">
{% assign plugins = site.data.plugins | where: "type", include.type | sort_natural: "name" %}
{% for plugin in plugins %}
    {% unless plugin.external %}
        {% continue %}
    {% endunless %}
    {% assign file = plugin.download | default: plugin.trigger %}
    {% assign download = "plugin." | 
        append: include.type | 
        append: "." | 
        append: file | 
        append: ".v" | 
        append: site.releasebuild | 
        append: ".zip"
    %}
<tr>
    <td class="col-md-2"><a href="https://github.com/simple-acme/simple-acme/releases/download/v{{ site.releasetag }}/{{download}}">{{plugin.name}}</a></td>
    <td class="col-md-2">{{plugin.provider}}</td>
    <td class="col-md-2">{% include plugin-link.html plugin=plugin title='documentation' %}</td>
    <td class="col-md-2"></td>
</tr>
{% endfor %}
</table>
</div>