{% if include.title == '' or include.title == null %}
    {% assign title = 'Settings' %}
{% else %}
    {% assign title = include.title %}
{% endif %}
<h2>{{ title }}</h2>
<div class="table-responsive my-4 me-5 pe-5">
    <table class="table table-striped">
        <tbody>
            {% for plugin in include.settings %}
                {% assign split = plugin | split: '.' %}
                {% if split.size == 2 %}
                    {% assign name0 = split[0] | strip %}
                    {% assign name1 = split[1] | strip %}
                    {% assign setting = site.data.settings[name0][name1] %}
                {% endif %}
                {% if split.size == 3 %}
                    {% assign name0 = split[0] | strip %}
                    {% assign name1 = split[1] | strip %}
                    {% assign name2 = split[2] | strip %}
                    {% assign setting = site.data.settings[name0][name1][name2] %}
                {% endif %}
                {% if include.remove %}
                    {% assign titlepart = include.remove | append: "." %}
                    {% assign labelsplit = plugin | replace_first: titlepart, '' | split: '.' %}
                {% else %}
                    {% assign labelsplit = split %}
                {% endif %}
                {% if labelsplit.size == 1 %}
                    {% assign name = labelsplit %}
                {% endif %}
                {% if labelsplit.size == 2 %}
                    {% assign name0 = labelsplit[0] | strip %}
                    {% assign name1 = labelsplit[1] | strip %}
                    {% assign name = name0 | append: "." | append: name1 %}
                {% endif %}
                {% if labelsplit.size == 3 %}
                    {% assign name0 = labelsplit[0] | strip %}
                    {% assign name1 = labelsplit[1] | strip %}
                    {% assign name2 = labelsplit[2] | strip %}
                    {% assign name = name0 | append: "." | append: name1 | append: "." | append: name2 %}
                {% endif %}
                {% include settings-detail.html setting=setting name=name remove=include.remove %}
            {% endfor %}
        </tbody>
    </table>
</div>