<tr>
    <th class="col-md-3" scope="row"><code>{{ include.name }}</code></th>
    <td>
        {{ include.setting.description }}
        {% if include.setting.subtype == "path" %}
            <div class="callout-block callout-block-warning pb-1 mt-3">
                <div class="content">
                    <p>Paths should be JSON-encoded, e.g. <code>"C:\\"</code> (note the double backslash).</p>
                </div>
            </div>
        {% elsif include.setting.subtype == "secret" %}
            <div class="callout-block callout-block-warning pb-1 mt-3">
                <div class="content">
                    <p>You don't have store a literal password here, but may also place a reference to the <a href="/manual/advanced-use/secret-management">secret vault</a>.</p>
                </div>
            </div>
        {% else %}
            <br><br>
        {% endif %}
        <strong>Type:</strong> {{ include.setting.type }}<br>
        <strong>Default:</strong> 
        {% if include.setting.default %}
            {% if include.setting.type == "string" %}
                <code>"{{ include.setting.default }}"</code>
            {% else %}
                <code>{{ include.setting.default }}</code>
            {% endif %}
            {% if include.setting.defaultExtra %}
                ({{ include.setting.defaultExtra }})
            {% endif %}
        {% else %}
            undefined
            {% if include.setting.nullBehaviour %}
                ({{ include.setting.nullBehaviour }})
            {% endif %}
        {% endif %}
    </td>
    <td></td>
</tr>