---
layout: default
---
<div class="docs-wrapper">
    {% if page.sidebar %}
    <div id="docs-sidebar" class="docs-sidebar sidebar-visible">
        <nav id="docs-nav" class="docs-nav navbar">
            {% include sidebar.html %}
        </nav>
    </div>
    {% endif %}

    <div class="docs-content">
        <div class="container">
            <article class="docs-article active">
                {{ content }} 
                {% if page.settings %}
                    {% include settings.html settings=page.settings %} 
                {% endif %}
                <div class="callout-block callout-block-info pb-3 mt-5">
                    <div class="content">
                        <h4 class="callout-title">
                            <span class="callout-icon-holder me-1">
                                <svg class="svg-inline--fa fa-circle-info" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-info" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"></path></svg><!-- <i class="fas fa-info-circle"></i> Font Awesome fontawesome.com -->
                            </span>
                            Looking for win-acme?
                        </h4>
                        <p>simple-acme is a backwards compatible, drop-in replacement built by the same person. <a href="/manual/about/simple-acme">Project history</a>.</p>
                    </div>
                </div>
            </article>
        </div> 
    </div>
</div>
