---
layout: docs
---

{%assign plugin=site.data.plugins[page.plugin_type][page.plugin] %}
<h1>{{plugin.title}}</h1>
<p>{{plugin.subtitle}}</p>
<div class="table-responsive my-4 me-5 pe-5">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th class="col-md-3" scope="row">Plugin type</th>
                <td><a href="/reference/plugins/{{page.plugin_type}}">{{page.plugin_type}}</a></td>
                <td></td>
            </tr>

            {% if page.download %}
            <tr>
                <th scope="row">Download</th>
                <td></td>
                <td></td>
            </tr>
            {% else %}
            <tr>
                <th scope="row">Download</th>
                <td>Built-in</td>
                <td></td>
            </tr>
            {% endif %}

            <tr>
                <th scope="row">Compatibility</th>
                <td>{{page.compatibility}}</td>
                <td></td>
            </tr>

            {% if plugin.default %}
            <tr>
                <th scope="row">Default</th>
                <td>{{plugin.default}}</td>
                <td></td>
            </tr>
            {% else %}
            <tr>
                <th scope="row">Default</th>
                <td>No (configurable in settings.json)</td>
                <td></td>
            </tr>
            {% endif %}

        </tbody>
    </table>
</div>

<h2>Description</h2>
{{content}}

<h2>Command line</h2>
<div class="table-responsive my-4 me-5 pe-5">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th class="col-md-3" scope="row"><code>--{{page.plugin_type}} {{page.plugin}}</code></th>
                <td>Activates the plugin</td>
                <td></td>
            </tr>
            {% for item in plugin.arguments %}
                {% for argument_group in site.data.arguments %}
                    {% assign groupname = argument_group[0] | strip %}
                    {% for argument_subgroup in site.data.arguments[groupname] %}
                        {% for argument in argument_subgroup[1].arguments %}
                            {% if argument.name == item %}
                                {% include arguments-detail.html argument=argument %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}            
        </tbody>
    </table>
</div>

{% if page.examples %}
<h2>Examples</h2>
<div class="table-responsive my-4 me-5 pe-5">
    <table class="table table-striped">
        <tbody>      
            {% for item in page.examples %}
            <tr>
                <th class="col-md-3" scope="row">{{ item.name }}</th>
                <td><code>--{{page.plugin_type}} {{page.plugin}} {{ item.cmd }}</code></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if plugin.settings %}
{% include settings.html settings=plugin.settings %}
{% endif %}

<h2>JSON</h2>
<div class="table-responsive my-4 me-5 pe-5">
    <table class="table table-striped">
        <tbody>      
            <tr>
                <th class="col-md-3" scope="row">ID</th>
                <td><code>{{plugin.id}}</code></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>