---
layout: docs
---

{% assign plugin = site.data.plugins | where: "id", page.plugin | first %}
{% assign arguments = site.data.arguments | where: "pluginid", page.plugin | first %}

<script>document.title='{{plugin.name}} | simple-acme'</script>
<h1>{{plugin.name}}</h1>
<p>{{plugin.description}}</p>
<div class="table-responsive my-4 me-5 pe-5">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th class="col-md-3" scope="row">Plugin type</th>
                <td>
                    {% for pt in site.data.types %}
                        {% assign path = pt.type | replace: ".", "/" %}
                        {% if pt.type == plugin.type %}
                            <a href="/reference/plugins/{{path}}">{{pt.title}}</a>
                        {% endif %}
                    {% endfor %}
                </td>
                <td></td>
            </tr>

            {% if plugin.external %}
                {% assign file = plugin.download | default: plugin.trigger %}
                {% assign downloadFake = "plugin." | 
                    append: plugin.type | 
                    append: "." | 
                    append: file | 
                    append: ".v" | 
                    append: "2.x.x" | 
                    append: ".zip"
                %}
                {% assign download = downloadFake | replace_first: "2.x.x", site.releasebuild %}
                <tr>
                    <th scope="row">Download</th>
                    <td><a href="https://github.com/simple-acme/simple-acme/releases/download/v{{ site.releasetag }}/{{ download }}">Version {{ site.releasename }}</a>. Look for older releases on <a href="https://github.com/simple-acme/simple-acme/releases/">GitHub</a> for files named like <strong>{{downloadFake}}</strong></td>
                    <td></td>
                </tr>
            {% else %}
                <tr>
                    <th scope="row">Download</th>
                    <td>Built-in</td>
                    <td></td>
                </tr>
            {% endif %}
            <tr>
                <th scope="row">Compatibility</th>
                <td>{{page.compatibility}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Description</h2>
{{content}}

{% if plugin.external %}
{% include plugin-seperate.md %}
{% endif %}

{% if arguments == nil %}
    {% assign activator = '‑‑' | append: plugin.type | append: " " | append: plugin.trigger %}
{% else %}
    {% assign activator = arguments.condition %}
{% endif %}
<h2 class="pt-2">Command line</h2>
<div class="table-responsive my-4 me-5 pe-5">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th class="col-md-3" scope="row"><code>{{ activator }}</code></th>
                <td>Activates the plugin</td>
                <td></td>
            </tr>
            {% include arguments-rows.html arguments=arguments.arguments %}
            {% include arguments-rows.html argumentnames=page.arguments %}
        </tbody>
    </table>
</div>

{% if page.examples %}
<h2>Examples</h2>
<div class="table-responsive my-4 me-5 pe-5">
    <table class="table table-striped">
        <tbody>      
            {% for item in page.examples %}
            <tr>
                <th class="col-md-3" scope="row">{{ item.name }}</th>
                <td><code>{{activator}} {{ item.cmd }}</code></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if page.settings %}
{% include settings.html settings=page.settings %}
{% endif %}

<h2>JSON</h2>
<div class="table-responsive my-4 me-5 pe-5">
    <table class="table table-striped">
        <tbody>      
            <tr>
                <th class="col-md-3" scope="row">ID</th>
                <td><code>{{plugin.id}}</code></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>